{% extends 'blog\base.html' %}

{% load blog_tags %}

{% block main %}
    <div class="flex-center site-60">
        <div class="container">
            <div class="flex-left flex-wrap units-gap-big">

                <main class="unit-3-4 unit-1-on-mobile">
                    <section class="post-list">
                        {% for post in post_list %}
                        <article>
                            <div class="flex-left units-gp">
                                <div class="unit-0">
                                    <div class="text-small post-header-meta">
                                        <span class="author">{{ post.author }}</span>
                                        <span class="pub-date text-muted"><time title="2017年4月29日 16:22">{{ post.created_time }}</span>
                                    </div>
                                    <div class="post-main-info">
                                        <a class="title" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                        <div class="text-small excerpt">
                                            {{ post.excerpt }}
                                        </div>
                                    </div>
                                    <div class="text-small post-footer-meta">

                                        <span class="category">
                                            <a href="/category/django-blog-tutorial/">{{post.category}}</a>
                                        </span>

                                        <span class="views">
                                        <a class="text-muted" href="/post/20/">
                                            <i class="fa fa-eye" aria-hidden="true"></i> 90
                                        </a>
                                    </span>

                                    </div>
                                </div>
                            </div>
                        </article>
                        {% endfor %}

                    </section>
                       <aside class="pagination flex-center">
                            <ul class="pagination-bar list-unstyle-inline">
                                {% for page in post_list.paginator.page_range %}
                                    {% if page == post_list.paginator.number %}
                                <li class="current"><a href="?page={{page}}">{{page}}</a></li>
                                    {% else %}
                                        <li><a href="?page={{page}}">{{page}}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </aside>

                </main>
                {% include  'blog/aside.html' %}
            </div>
        </div>
    </div>
{% endblock main%}